
* {
	font-family: "Helvetica";
}

th {
	text-align: center;
}

.detail {
	color: #FFFFFF;
}

.blue {
	background-color: #2EA0D9;
	margin-top:20px;
	padding-bottom: 20px;
}

.bg-blue {
	background-color: #0F88C4;
	color: #FFFFFF;
}

.head {
	width: 250px;
	border: 4px solid #0F88C4;
	padding: 5px;
	margin: 0 auto;
	margin-top: 10px;
}

.head-ak {
	padding: 5px;
}

.bg-head {
	background-color: #ECECEF;
	color: #000000;
}

.welcome {
	margin-top: 40px;
	font-size: 44px;
	color: #0F88C4;
}

.row {
	margin: 10px;
}

.white-txt {
	color: #FFFFFF;
	margin: 5px;
}

table {
	width: 100%;
	border: black;
	margin-top: 10px;
}

.butn {
	margin-top: 10px;
	margin-right: 0px;
	height: 25px;
	border-radius: 5px;
	font-size: 10pt;
}

.butn:hover {
	background-color: #D9D9D9;
}

.butn-sort {
	height: 25px;
	border-radius: 5px;
	font-size: 10pt;
}

.butn-sort:hover {
	background-color: #D9D9D9;
}

.act-butn {
	border: none;
	width: 60px;
	margin: 2px;
}

.act {
	color: #FFFFFF;
}

.act:hover {
	color: #D9D9D9;
}

.butn-det {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 0px;
	height: 25px;
	border-radius: 5px;
	font-size: 10pt;
	color: #000000;
}

.butn-det:hover {
	background-color: #D9D9D9;
}

.footer {
	position: fixed;
    left: 0;
    bottom: 0;
	font-size: 10pt;
    text-align: center;
    padding:2px;
    width: 100%;
    z-index: 1;
}


/* */
/* css for menu */
.white {
	color: #FFFFFF;
	margin-left: 25px;
	margin-right: 25px;
	font-size: 16pt;
}

.navbar-brand:hover {
	color: #FFFFFF;
	margin-left: 25px;
	margin-right: 25px;
	font-size: 16pt;
	border-bottom: 5px solid white;
}

.navbar-toggle {
	background-color: #FFFFFF;
}

.navbar-toggle:hover {
	background-color: #D9D9D9;

}

.icon-bar {
	background-color: #0F88C4;
}

.nav>li>a:hover {
	color: #FFFFFF;
	background-color: transparent;
}

/* end for css for menu */


/* css for index login */
/* */

.log { 
	width:20%; 
}

.login {
	z-index: 99;
    position: absolute;
    top: 150px;
    left: 150px;
    background-color: transparent;
}

.login-btn {
	background-color: transparent;
	border: 2px solid #FFFFFF;
	border-radius: 25px;
	width:20%;
	margin-top:10px;
	color: #FFFFFF;
}

.login-sbm {
	background-color: #0A70A3;
	border: none;
	border-radius: 25px;
	width:20%;
	color: #FFFFFF;
}

.login-sbm:hover {
	background-color: #0F88C4;
	border-radius: 25px;
	width:20%;
	color: #FFFFFF;
}

.bg-img {
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
    z-index: -99;
    position: absolute;
}
/* */
/* end of css for index login */

/* css for surat tugas */
/* */

.surat {
	background-color: #FFFFFF;
	color: #0F88C4;
	border: 2px solid #0F88C4;
	font-size: 14pt;
	padding:15px;
}

.tit {
	margin-top:50px;
}
/* */
/* end of css for surat tugas */

/* css for recapitulation */
/* */
.kiri {
	background-color: #3EDBD9;
	height:400px;
}
.tengah {
	background-color: #3A98FE;
	height:400px;
}
.kanan {
	background-color: #0B83BF;
	height:400px;
}

.a-rek {
	color: #FFFFFF;
	font-weight: 900;
	border: 3px solid #FFFFFF;
	padding: 5px;
}

.img-rek {
	padding: 20px;
	width:200px;
	height:200px;
	margin: 0 auto;
}
/* */
/* end of css for recapitulation */

/* css for references */
/* */
.img-ref {
	width: 100px;
	padding:5px;
	height:100px;
}

.ref:hover {
	border:1px solid black;
}
/* */
/* end of css for references */
